* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../media/OtuBackground.mp4);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 135px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.logo{
  transition: 0.2s ease-in-out;
  filter:brightness(75%);
}

.logo:hover{
  filter:brightness(90%);
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul {
        padding: 30px;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .text-box h1 {
        font-size: 20px;
    }
}


/*------- Donate Page ------------*/
:root {
    --text-orange: #f44336;
    --text-light-blue: #0a2683f8;
    --text-light-orange: #fb8e22;
    --text-blue: #212361;
}


.sub-header-donate {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/bg_don4.JPG);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header-donate h1 {
    margin-top: 20vh;
    font-size: 60px;
}



.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.donate-section {
    margin-top: 20px;
}



.donate-section,
.reasons-to-donate {
    margin-left: 10%;
    margin-right: 10%;
 
}



.text {

    max-width: 800px;
    margin: 0 auto;
}

.reasons-to-donate p,
.donate-section p {
    font-size: 1.1rem;
    text-align: justify;
    transition: transform 0.5s ease;
    line-height: 1.6;

}

.reasons-to-donate h2,
.donate-section h2 {
    margin-bottom: 20px;

}

.reasons-to-donate p:hover {
    color: var(--text-light-blue);
    transform: scale(1.05);
}



.donate-link {
    display: inline-block;
    background-color: var(--text-light-orange);
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    animation: pulse 2s infinite;
  margin-bottom: 20px;

}

.donate-link a {
    color: #fff;
    text-decoration: none;

}

.donate-link:hover {
    background-color: var(--text-orange);
}




/* Parallax */
.editorial {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index:5;
    bottom:0;
    position:absolute;
    left:0px;
    float:left;
  }
  
  .parallax1 > use {
    animation: move-forever1 10s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax2 > use {
    animation: move-forever2 8s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax3 > use {
    animation: move-forever3 6s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax4 > use {
    animation: move-forever4 4s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  @keyframes move-forever3 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever4 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }


  /*divider*/
  .custom-shape-divider-top-1705651465 {
    position: relative;
    width: 100%;
}

.custom-shape-divider-top-1705651465 svg {
    width: 100%;
    height: auto;
}

.custom-shape-divider-top-1705651465 .shape-fill {
    fill: var(--text-light-blue);
}

@media only screen and (max-width: 768px) {
    .custom-shape-divider-top-1705651465 svg {
        height: auto;
    }
}

/* Adjustments for smaller screens */
@media only screen and (max-width: 620px) {
    .donate-section p, .reasons-to-donate p {
        font-size: 1.2rem; 
        text-align: left;
        
    }
}


/*--------------Footer---------------*/

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o {
    color: #f44336;
}