


/*--------------- News Page --------------*/
.news-section{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 15vh;
}
.news{
    overflow:hidden;
}

.news a{
    transition: all 0.2s ease-in-out;
}

.news a{
    transition: all 0.2s ease-in-out;
}

.news a:hover{
    transform: scale(1.2);
    opacity: .9;
}

.news a:hover{
    transform: scale(1.2);
    opacity: .9;
}

.image-text{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
}

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}



.sub-header-news{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/moment_2.JPG);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.image-bottom-text{
    margin-top: 10px;
}

.mt-7{
    padding-top: 7rem;
}

.ml-23{
    padding-left: 23rem;
}

.mb-10{
    padding-bottom: 3rem;

}

.news-container-left{
    padding-left: 11rem;
    padding-right:8rem;
}

.separator{
    width: 400px;
    border-bottom: 2px solid;
    border-color: #000000;
    margin-bottom: 10px;
}

.news-title{
    font-size: 2rem;
    font-weight: 500;
    margin-top:3rem;
}


.news-text{
    font-size: 1rem;
    font-weight: 300;
}

img{
    border-radius:0;
}
@media all and (max-width: 1451px){
    .news-text{
        font-size: 15px;
        font-weight: 300;
    }
    .display-4{
        /* font-size: 2rem !important;
        font-weight: 300 !important; */
        display:none;
    }
}


@media all and (max-width: 1300px){
    .news-container-left{
        padding-left:0;
        padding-right:0;
    }
    .ml-23{
        padding-left: 30px;
    }
    .news-section{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .image-bottom-text{
        display: flex !important;
    }
}
.display-4{
    padding-left:21%;
    font-weight:bold !important;
}

@media all and (max-width: 765px){
    .card-body{
        display:block !important;
    }
    .display-4{
        text-align: center;
    }
    .mt-7{
        position:relative;
        padding-right:28%;
    }
}



.card-body{
    display:none;
    background-color: white;
}


/*--------------Footer---------------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}
