* { box-sizing: border-box; }

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}
@media (max-width: 575px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

.sub-header-photos{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/moment_2.webp);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}


.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
  padding:0.2rem;
  transition: 0.2s ease-in;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  border-color:transparent;
  -webkit-filter: grayscale(60%);
}

.grid-item img:hover{
    transform: scale(1.02);
    -webkit-filter: grayscale(0%);
}

