*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../media/OtuBackground.mp4);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 135px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.icon{
    transition: 0.2s ease-in-out;
    filter:brightness(75%);
}

.icon:hover{
    filter:brightness(90%);
}

.icons a i{
    transition:0.3s ease-in-out;
}

.icons a i:hover{
    transform:scale(1.3);
    color:black;
}


.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: .5s;    
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

@media(max-width: 700px)
{
   .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    .text-box h1{
        font-size: 20px;
    }
}

/*------- Staff Page ------------*/
/*------- Staff Page ------------*/


/* Adjustments for smaller screens */
@media only screen and (max-width: 320px) {
    .sub-header-staff h1 {
        font-size: 1.2rem; 
    }

    .nav-links {
        right: 0;
    }

    .fa-bars,
    .fa-close {
        display: block;
        font-size: 1.5rem;
    }
}
/* Adjustments for larger screens */

@media only screen and (min-width: 1024px) {
    .executive-grid {
        grid-template-columns: repeat(3, 1fr);
        

    }

}

/* Staff Section Styles */
.sub-header-staff {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/Ri3D_34.JPG);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header-staff h1 {
    margin-top: 30vh;
    font-size: 60px;
}
.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.intro-box {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.intro-box h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.member-grid, .executive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}
.executive-grid{
    gap: 40px;
    margin-left: 10%;
    margin-right: 10%;

}

.executive-card,
.member-card {
    background-color: #f5e9d4;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
    font-size: 0.9em;
    color: #292828;
}
.executive-card{
    background-color: #d6e2e7;
    border: 1px solid #e0e0e0;
    padding: 20px;
}

.executive-card:hover,
.member-card:hover {
    transform: scale(1.05);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.staff-info {
    margin-top: 15px;
}

.staff-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
}

.field-study,
.role, .member-card p {
    margin-top: 8px;
    font-size: 0.9em;
    color: #000000;
}
.role{
    color: #0d2b6785;
    font-weight: 700;
}


    

/*--------------Footer---------------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}



